################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuantEngine.slnx/FileContentIndex
/out/build/x64-debug
/.vs/QuantEngine.slnx/v18
/.vs/QuantEngine.slnx/config
/.vs
/apps/QuantWebApi/obj
/apps/QuantWebApi/bin/Debug/net8.0
/apps/QuantWebApi/.vs/QuantWebApi.slnx
